<h1>Your tasks here</h1>
<div class="add-bar">
    <form  class="d-flex" id="app-add-user-form">
        <input class="form-control me-2" id="app-add-user-form-log" name="login" autocomplete="username" type="text"
            placeholder="New user login" aria-label="Login">
        <input class="form-control me-2" id="app-add-user-form-pas" name="password" autocomplete="current-password" type="password"
            placeholder="New user password" aria-label="Password">
        <button  class="btn btn-outline-info" type="submit">Add user</button>
    </form>
</div>
<div class="kanban">
    <div class="todo"></div>
    <div class="in-progress"></div>
    <div class="done"></div>
</div>
<div></div>