<div class="add-user-bar">
    <form  class="d-flex app-add-user-form" >
        <input class="form-control me-2 app-add-user-form-log" name="login" autocomplete="username" type="text"
            placeholder="New user login" aria-label="Login">
        <input class="form-control me-2 app-add-user-form-pas" name="password" autocomplete="current-password" type="password"
            placeholder="New user password" aria-label="Password">
        <button class="btn btn-outline-info app-btn-add-user-form" type="submit">Add user</button>        
    </form>
</div>

<div class="kanban">
    <div class="kanban-todo">
        <div class="todo-shell">
            <p class="todo-header">To Do</p>
            <ul class="todo-list"></ul>
            <button class="btn app-btn-add-task">+ Add card</button>
        </div>
    </div>
    <div class="kanban-in-progress">
        <div class="in-progress-shell">
            <div>
                <p class="in-progress-header">In-progress</p>
            </div>
            <ul class="in-progress-list"></ul>
            <div class="app-add-card-in-progress">
                <button class="btn app-btn-add-card-in-progress">+ Add card</button>                                
            </div>
            <ul class="app-add-in-progress-dropdown"></ul>
        </div>        
    </div>
    <div class="kanban-finished">
        <div class="finished-shell">
            <div>
                <p class="finished-header">Finished</p>
            </div>
            <div class="finished-list"></div>
            <div class="app-add-card-finished">
                <button class="btn app-btn-add-card-finished">+ Add card</button>                                
            </div>
            <ul class="app-add-finished-dropdown"></ul>
        </div>        
    </div>
</div>
<div></div>