/*kanban*/
.kanban {
    display: grid;
    grid-template-columns: 33% 34% 33%;
    grid-template-rows: auto;
    grid-template-areas: "todo in-progress finished";
    background-color: #0dcaf0;
    border: 2px solid #0c8ea8;
    border-radius: 10px;
    margin-top: 8px;
    height: 75vh;
}

.todo-list, .in-progress-list, .finished-list {
  padding: 3px 31px 1px 0px;
  border-bottom: 1px solid #5E6C84;
  list-style-type: none;
  overflow: auto;
  max-height: 56vh;
}