/*kanban-todo*/
.kanban-todo {
    grid-area: "todo";
    display: block;
    min-height: 25vh;
    max-height: 69vh;
    background-color: #EBECF0;
    border-radius: 10px;
    margin: 22px 11px auto 22px;
  }
  
  .todo-shell {
    padding: 8px 12px;
  }
  
  .todo-header {
    font-weight: bold;
    margin: 0px 0px 8px 0px;
  }
  
  .todo-node {
    box-sizing: border-box;
    padding: 3px 0px 8px 5px;
    margin: 2px 0px 10px 5px;
    width: 90%;
    border-radius: 5px;
    background-color: white;
  }
  
  .app-btn-add-task {
    color: #5E6C84;
    padding: 0px 0px;
    transition: all 0.2s ease 0s;
    z-index: 1;
  }
  
  .app-btn-add-task:hover {
    border: 0.5px solid #5E6C84;
    border-radius: 5px;
  }
  
  .app-btn-add-task:disabled {
    padding: 0px 0px;
  }