/*kanban-todo*/
.kanban-todo {
    grid-area: "todo";
    display: block;
    min-height: 25vh;
    max-height: 69vh;
    background-color: #EBECF0;
    border-radius: 10px;
    margin: 22px 11px auto 22px;
  }
  
  .todo-shell {
    padding: 8px 12px;
  }
  
  .todo-header {
    font-weight: bold;
    margin: 0px 0px 8px 0px;
  }
  
  .todo-node {
    width: 90%;
    border-radius: 5px;
    background-color: white;
    padding: 0px 0px 0px 0px;
  }
  
  .todo-node-name {
    padding: 7px 8px;
  }
  
  .app-btn-add-task {
    color: #5E6C84;
    padding: 0px 0px;
    transition: all 0.2s ease 0s;
  }
  
  .app-btn-add-task:hover {
    border: 0.5px solid #5E6C84;
    border-radius: 5px;
  }
  
  .app-btn-add-task:disabled {
    background-color: #5E6C84;
    color: #000000;
    padding: 0px 0px;
    transition: all 1s ease 0s;
  }