.app-login-btn {
  width: 160px;
}

/*add-user*/
.add-user-bar {
  margin-top: 8px;
}

.app-add-user-btn {
  width: 200px;
}

.app-add-user-form {
  display: inline-block;
}

.app-placeholder {
  display: inline-block;
  width: 40%;
}

.app-btn-add-user-form {
  min-width: 90px;
}

.app-add-user-form-log {
  max-width: 200px;
}

.app-add-user-form-pas {
  max-width: 200px;
}

/*kanban*/
.kanban {
  display: grid;
  grid-template-columns: 33% 34% 33%;
  grid-template-rows: auto;
  grid-template-areas: "todo in-progress finished";
  background-color: #0dcaf0;
  border: 2px solid #0c8ea8;
  border-radius: 10px;
  margin-top: 8px;
  height: 75vh;
}

.card {
  list-style-type: none;
  opacity: 1;
  transform: scaleY(0);  
  transform-origin: 0 0;
  transition: all 0.2s ease 0s;
}

.app-li-btn {
  color: #5E6C84;
  padding: 0px 0px;
}

/*kanban-todo*/
.kanban-todo {
  grid-area: "todo";
  display: block;
  min-height: 25vh;
  max-height: 69vh;
  background-color: #EBECF0;
  border-radius: 10px;
  margin: 22px 11px auto 22px;
}

.todo-shell {
  padding: 8px 12px;
}

.todo-header {
  font-weight: bold;
  margin: 0px 0px 8px 0px;
}

.todo-node {
  width: 90%;
  border-radius: 5px;
  background-color: white;
  padding: 0px 0px 0px 0px;
}

.todo-node-name {
  padding: 7px 8px;
}

.app-btn-add-task {
  color: #5E6C84;
  padding: 0px 0px;
  transition: all 0.2s ease 0s;
}

.app-btn-add-task:disabled {
  background-color: #5E6C84;
  color: #000000;
  padding: 0px 0px;
  transition: all 1s ease 0s;
}

/*kanban-in-progress*/
.kanban-in-progress {
  grid-area: "in-progress";
  display: block;
  min-height: 25vh;
  max-height: 69vh;
  background-color: #EBECF0;
  border-radius: 10px;  
  margin: 22px 11px auto 11px;
}

.in-progress-shell {
  padding: 8px 12px;
}

.in-progress-header {
  font-weight: bold;
  margin: 0px 0px 8px 0px;
}

.in-progress-node {
  width: 90%;
  border-radius: 5px;
  background-color: white;
  padding: 0px 0px 0px 0px;
}

.in-progress-node-name {
  margin: 0px;
  padding: 7px 8px;
}

.app-add-card-in-progress {
  color: #5E6C84;
  padding: 0px 0px;
  transform-origin: 0 0;
  transition: all 0.2s ease 0s;
}

.app-add-card-in-progress:hover > li {
  transform: scaleY(1);
}

.app-add-card-in-progress:disabled {
  background-color: #5E6C84;
  color: #000000;
  padding: 0px 0px;
  transition: all 1s ease 0s;
}

.app-add-card-in-progress:hover {
  color: #000000;
  padding: 0px 0px;
  transition: all 1s ease 0s;
}

/*kanban-finished*/
.kanban-finished {
  grid-area: "finished";
  display: block;
  min-height: 25vh;
  max-height: 69vh;
  background-color: #EBECF0;
  border-radius: 10px;
  margin: 22px 22px auto 11px;
}

.finished-shell {
  padding: 8px 12px;
}

.finished-header {
  font-weight: bold;
  margin: 0px 0px 8px 0px;
}

.finished-node {
  width: 90%;
  border-radius: 5px;
  background-color: white;
  padding: 0px 0px 0px 0px;
}

.finished-node-name {
  padding: 7px 8px;
}

.app-btn-add-finished {
  color: #5E6C84;
  padding: 0px 0px;
}

.todo-list, .in-progress-list, .finished-list {
  overflow: auto;
  max-height: 56vh;
}

/*kanban new task*/
.new-task-window {
  position: absolute;  
  height: 50vh;
  border: 2px solid #0c8ea8;
  border-radius: 10px;
  background-color: white;
  padding: 8px;
  margin: 40px 100px;
  z-index: 999999;
}

.app-btn-close {
  position: absolute;
  right: 0px;
  font-size: 24px;
  line-height: 0px;
  margin: 0px -6px;
}

.new-task-text {  
  width: 60vw;
}

.app-btn-task-submit {
  position: absolute;
  right: 30px;
}