.app-login-btn {
  width: 160px;
}

/*add-user*/
.add-user-bar {
  margin-top: 8px;
}

.app-add-user-btn {
  width: 200px;
}

.app-add-user-form {
  display: inline-block;
}

.app-placeholder {
  display: inline-block;
  width: 40%;
}

.app-btn-add-user-form {
  min-width: 90px;
}

.app-add-user-form-log {
  max-width: 200px;
}

.app-add-user-form-pas {
  max-width: 200px;
}